{% extends 'base.html.twig' %}

{% block body %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <div class="row col-md-12" >


        <div class="col-md-2">

        </div>
        <div class="col-md-8">


            <div class="card col-md-12 card-header" style="margin-top: 3em"><h4 style="margin-top: 2em; text-align: center"> Edición de Restaurante. </h4>
                <hr class="hr" />
                <div class="alert alert-info" style="display:none;" id="correct"> El registro se ha actualizado correctamente.  </div>
                <div class="card-body">
                    <h5 class="card-title"> Detalle Restaurante. </h5>
                    <input type="hidden" id="clave" value="{{ rest[0].id }}">
                    <p class="card-text">Nombre:  <input placeholder="Introduzca el nombre" id="nombre" class=" form form-control" type="text" value="{{ rest[0].nombre }}"></p>
                    <p class="card-text">Descripcion: <input placeholder="Introduzca la descripcion" id="descripcion" class=" form form-control" type="text" value="{{ rest[0].body }}"> </p>
                    <p class="card-text">Website: <input placeholder="Introduzca el website" id="website" class=" form form-control" type="text" value="{{ rest[0].website }}"> </p>
                    <p class="card-text">Ranking: <input placeholder="Introduzca el ranking del restaurante" id="ranking" class=" form form-control" type="text" value="{{ rest[0].ranking }}"></p>
                    <a style="margin-left: 78%" href="/list" class="btn btn-secondary">Volver</a>
                    <button style="margin-left: 3%" class="btn btn-primary" id="btnGuardar1" onclick="senddata();"> Guardar </button>
                </div>
            </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>

<script>
    function senddata()
    {
        let id = document.getElementById('clave').value;
        let nombre = document.getElementById('nombre').value;
        let descripcion = document.getElementById('descripcion').value;
        let website = document.getElementById('website').value;
        let ranking = document.getElementById('ranking').value;

        $.ajax({
            type: "POST",
            url: "{{ path('updateRestaurant') }}",
            async: true,
            data: {'id': id, 'nombre': nombre, 'descripcion': descripcion, 'website': website, 'ranking': ranking},
            success: function(){
                $('#correct').show();
                $('#btnGuardar1').hide();
            }
        });
    }

</script>

{% endblock %}