{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-2">

        </div>

        <div class="col-md-8">

            <h2> LISTA DE RESTAURANTES </h2>


            <table style="margin-top: 2em;" class="table">
                <th class="col-md-2" style="text-align: center"> Nombre </th>
                <th class="col-md-2" style="text-align: center"> Descripcion </th>
                <th class="col-md-2" style="text-align: center"> Website</th>
                <th class="col-md-2" style="text-align: center"> Ranking</th>

                {% for r in restaurants %}
                    <tr>
                        <td style="text-align: center"> <a href="{{ path('detailRestaurant' , { 'id': r.id }) }}"> {{ r.nombre}} </a> </td>
                        <td style="text-align: center"> {{ r.body }}</td>
                        <td style="text-align: center"> {{ r.website }}</td>
                        <td style="text-align: center"> {{ r.ranking }}</td>
                    </tr>
                {% endfor %}

                <th class="col-md-2" style="text-align: center"> Nombre </th>
                <th class="col-md-2" style="text-align: center"> Descripcion </th>
                <th class="col-md-2" style="text-align: center"> Website</th>
                <th class="col-md-2" style="text-align: center"> Ranking</th>
            </table>

        </div>

        <div class="col-md-2">

        </div>

    </div>

{% endblock %}