{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-3">

        </div>

        <div class="col-md-6">

            <h2 style="margin-top: 1em"> LISTA MODIFICACION Y BORRADO DE RESTAURANTES </h2>

            <a class="btn btn-primary btn-sm" href="/new_restaurant">
                Nuevo Restaurante
            </a>

            <table class="table" style="margin-top:2em">
                <tr>
                    <th class="col-md-2" style="text-align: center"> Nombre </th>
                    <th class="col-md-2" style="text-align: center"> Rating</th>
                    <th class="col-md-2" style="text-align: center"> Website</th>
                    <th class="col-md-2" style="text-align: center"> Ranking</th>
                    <th class="col-md-2" style="text-align: center"> Editar</th>
                    <th class="col-md-2" style="text-align: center"> Borrar</th>
                </tr>
                {% for r in restaurants %}
                    <tr>
                        <td style="text-align: center"> <a href="{{ path('detailRestaurant' , { 'id': r.id }) }}"> {{ r.nombre}} </a> </td>
                        <td style="text-align: center"> {{ r.body }}</td>
                        <td style="text-align: center"> {{ r.website }}</td>
                        <td style="text-align: center"> {{ r.ranking }}</td>
                        <td style="text-align: center"> <a  href="{{ path('editRestaurant' , { 'id': r.id }) }}" class="btn btn-outline-secondary" href="#" role="button">Editar</a></td>
                        <td style="text-align: center"> <a id="borrado" onclick="borrado( {{ r.id }})" class="btn btn-outline-danger" href="#" role="button">Borrar</a> </td>
                    </tr>
                {% endfor %}
                <tr>
                    <th class="col-md-2" style="text-align: center"> Nombre </th>
                    <th class="col-md-2" style="text-align: center"> Rating</th>
                    <th class="col-md-2" style="text-align: center"> Website</th>
                    <th class="col-md-2" style="text-align: center"> Ranking</th>
                    <th class="col-md-2" style="text-align: center"> Editar</th>
                    <th class="col-md-2" style="text-align: center"> Borrar</th>
                </tr>

            </table>

        </div>

        <div class="col-md-3">

        </div>

    </div>

<script>
    function borrado(id)
    {
        alert(id);
        if ( this.host !== window.location.host ) {

            if (window.confirm('¿Está seguro que desea borrar el registro?')) {

                $.ajax({
                    type: "POST",
                    url: "{{ path('deleteRestaurant') }}",
                    async: true,
                    data: {'id': id},
                    success: function(){
                        location.reload();
                    }
                });
                // They clicked Yes

            } else {
                // They clicked no
                console.log('you chose to stay here.');
                return false

            }
        }
    }

</script>

{% endblock %}






